body {
    padding-top: 170px;
}

/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/

:root {
    --accent-color:             #717171;
    --white-color:              #ffffff;
    --black-color:              #272727;
    --gray-color:               #F3F3F3;
    --gray-color-200:           #E3E3E3;
    --gray-color-300:           #E0E0E0;
    --gray-color-500:           #D0D0D0;
    --gray-color-800:           #3A3A3A;
    --light-gray-color:         #D2D2D2;
    --primary-color:            #C76E6F;
    --bs-body-color:            #272727;
    --bs-secondary-color:       #FFE8F0;
    --bs-secondary-rgb:         255, 232, 240;
    --bs-primary-rgb:           rgb(248,109,114);
    --bs-border-color:          #E3E3E3;
    --bs-dropdown-link-active-bg: #F5F5F5;
    --light-color:              #F1EFE3;
    --light-blue-color:         #EDF1F3;
    --navbar-color-color:       #131814;
    --swiper-theme-color:       #4A4A4A;
    --swiper-pagination-color:  #4A4A4A;
    --bs-box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.08);
    
    --bs-btn-font-size: 1rem;
    --star-color: #FF9933;
}

/* Fonts */
:root {
    --body-font           : "Nunito", sans-serif;
    --heading-font        : "Nunito", sans-serif;
}

@media (min-width: 1850px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1540px;
    }
}

/*----------------------------------------------*/
/* 2. FORUM-DISCUSS STRUCTURE */
/*----------------------------------------------*/


.top-discuss {
    text-align: left;
}

.text-end button {
  padding: 5px 25px;
  font-size: 10pt;
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 1px solid var(--gray-color-300);
}

.text-end button:hover {
  background-color: var(--bs-secondary-color);
  color: var(--primary-color);
}

.input-large {
  height: 150px;
  font-size: 1rem;
  padding: 10px 15px;
  resize: none;
  overflow: auto;
  background-color: var(--white-color);
  border: 1px solid var(--gray-color-300);
  color: var(--bs-body-color);
}

.input-small {
  width: 90%;
  min-height: 30px;
  font-size: 12px;
  padding: 5px 5px;
  padding-right: 10px;
  resize: none;
  overflow-y: auto;
  background-color: var(--white-color);
  border: 1px solid var(--gray-color-300);
  color: var(--bs-body-color);
}

.char-count {
  font-size: 0.875rem;
  margin-left: 5px;
  color: var(--gray-color-800);
}

.text-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}

.post-button {
  position: absolute;
  background-color: var(--white-color);
  color: var(--primary-color);
  padding: 5px 25px;
  font-size: 10pt;
  border: 1px solid var(--gray-color-200);
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.post-button:hover {
  background-color: var(--bs-secondary-color);
  color: var(--primary-color);
}

.avatar-reply {
  width: 40px;
  height: 40px;
  background: var(--gray-color);
  border-radius: 50%;
  object-fit: cover;
}

#reply-btn {
  font-size: 12px;
  color: var(--bs-body-color);
  background-color: var(--white-color);
  border: 1px solid var(--gray-color-300);
}

#reply-btn:hover {
  background-color: var(--bs-secondary-color);
  color: var(--gray-color-800);
}

#reply-btn i {
  margin-top: 0.2rem;
}

#reply-btn span {
  margin-top: 0;
}

.hidden {
  display: none !important;
}

.replies {
  margin-top: 20px;
}

.btn-new-discussion {
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: left;
  padding: 8px 20px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-new-discussion:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

.card-body {
    padding: 20px 40px;
}

.bottom-discuss .card-body {
  text-align: left;
}

.card-title,
.post-content,
.forum-profile,
.reply-count {
  text-align: left;
}

