/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/

:root {
    --accent-color:             #717171;
    --white-color:              #ffffff;
    --black-color:              #272727;
    --gray-color:               #F3F3F3;
    --gray-color-200:           #E3E3E3;
    --gray-color-300:           #E0E0E0;
    --gray-color-500:           #D0D0D0;
    --gray-color-800:           #3A3A3A;
    --light-gray-color:         #D2D2D2;
    --primary-color:            #C76E6F;
    --bs-body-color:            #272727;
    --bs-secondary-color:       #FFE8F0;
    --bs-secondary-rgb:         255, 232, 240;
    --bs-primary-rgb:           rgb(248,109,114);
    --bs-border-color:          #E3E3E3;
    --bs-dropdown-link-active-bg: #F5F5F5;
    --light-color:              #F1EFE3;
    --light-blue-color:         #EDF1F3;
    --navbar-color-color:       #131814;
    --swiper-theme-color:       #4A4A4A;
    --swiper-pagination-color:  #4A4A4A;
    --bs-box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.08);
    
    --bs-btn-font-size: 1rem;
    --star-color: #FF9933;

    /* Fonts */
    --body-font           : "Nunito", sans-serif;
    --heading-font        : "Nunito", sans-serif;
}

/* Global Styling for all buttons to maintain consistency */
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

button,
.nav-link {
    font-family: 'Nunito', sans-serif;
    font-size: var(--bs-btn-font-size);
    text-transform: uppercase;
    letter-spacing: 0.09em;
}

/*--------------------------------------------------------------
/** 2. Custom Section (Navbar & Buttons)
--------------------------------------------------------------*/

.site-header {
    background-color: var(--light-color);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
    transition: background 0.3s ease-out;
    margin-bottom: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.navbar .container {
    position: relative;
}

.navbar-brand {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar-brand img {
    width: 157px;
    height: 63px;
    object-fit: contain;
    margin-right: 10px;
}

.navbar-toggler {
    width: 50px;
    height: 50px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0;
}

.navbar-nav .nav-item .nav-link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: var(--black-color);
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--primary-color);
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:focus {
    color: var(--primary-color);
    font-weight: bold;
}

/* Button Styling */
button,
.signin-btn,
.signup-btn,
.logout-btn {
    font-family: 'Nunito', sans-serif !important;
    font-size: var(--bs-btn-font-size);
    padding: 10px 20px;
    color: var(--white-color);
    border-radius: 30px;
    border: none;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    height: 44px;
}

.signin-btn {
    background-color: var(--primary-color);
}

.signin-btn:hover {
    background-color: var(--accent-color);
}

.signup-btn {
    background-color: var(--black-color);
}

.signup-btn:hover {
    background-color: var(--accent-color);
}

.logout-btn {
    background-color: var(--black-color);
}

.logout-btn:hover {
    background-color: var(--accent-color);
}

/* OFFCANVAS MENU */
.offcanvas-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offcanvas-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offcanvas-nav .nav-item {
    margin-bottom: 1rem;
}

.user-items {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.user-items .btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 10px;
}

/* Search Box */
.search-item {
    position: relative;
}

.search-box {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 180px;
}

.search-results {
    position: absolute;
    top: 50px;
    width: 100%;
    max-height: 200px; 
    overflow-y: auto; 
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    padding-right: 10px;
}

.search-results li {
    padding: 8px 10px;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f0f0f0;
}

ul, li {
    padding-left: 0 !important;
    list-style: none !important;
}

.search-results li a {
    text-transform: none !important; /* Memastikan teks tidak diubah ke uppercase */
}

/* Separator between search results */
.search-separator {
    border: none;
    border-top: 1px solid var(--primary-color);
    margin: 4px 0;
}
