/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/

:root {
  --accent-color: #717171;
  --white-color: #ffffff;
  --black-color: #272727;
  --gray-color: #f3f3f3;
  --gray-color-200: #e3e3e3;
  --gray-color-300: #e0e0e0;
  --gray-color-500: #d0d0d0;
  --gray-color-800: #3a3a3a;
  --light-gray-color: #d2d2d2;
  --primary-color: #c76e6f;
  --bs-body-color: #272727;
  --bs-secondary-color: #ffe8f0;
  --bs-secondary-rgb: 255, 232, 240;
  --bs-primary-rgb: rgb(248, 109, 114);
  --bs-border-color: #e3e3e3;
  --bs-dropdown-link-active-bg: #f5f5f5;
  --light-color: #f1efe3;
  --light-blue-color: #edf1f3;
  --navbar-color-color: #131814;
  --swiper-theme-color: #4a4a4a;
  --swiper-pagination-color: #4a4a4a;
  --bs-box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.08);

  --bs-btn-font-size: 1rem;
  --star-color: #ff9933;
}

/* Fonts */
:root {
  --body-font: "Nunito", sans-serif;
  --heading-font: "Nunito", sans-serif;
}

@media (min-width: 1850px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1540px;
  }
}

button,
.nav-link {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.09em;
}

.hero-section {
  background-size: cover;
  background-position: center;
  padding: 130px 40px;
  color: white;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 35px;
  position: relative;
  z-index: 1; /* atau bisa dihapus kalau tidak ada konflik */
}

.book-detail-container {
  padding: 30px;
  margin: -300px auto 35px auto; /* Naik ke atas hero section */
  position: relative;
  z-index: 2;
}

.book-info {
  display: flex;
  gap: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.book-thumbnail {
  width: 300px;
  height: 450px;
  border-radius: 8px;
}

.book-details {
  max-width: 750px;
  align-self: flex-start;
  margin-top: 30px;
}

.book-details .title {
  color: var(--white-color);
  text-align: left;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 2.5em;
}

.book-details .author {
  font-weight: lighter;
  letter-spacing: 0.5px;
  font-size: 1.5em;
  color: var(--white-color);
  text-align: left;
  margin-bottom: 5px;
}

.book-details .rating {
  text-align: left;
  color: #ffd700;
  font-size: 1.5em;
}

.book-details .rating .rating-number {
  margin-left: 10px;
}

.book-details .desc {
  margin-top: 70px;
  text-align: left;
  font-size: 14pt;
  margin-bottom: 30px;
}

.book-details .genre-hero {
  text-align: left;
  display: flex;
  font-size: 14pt;
}

.book-details .genre-hero .genre {
  margin-left: 10px;
  font-weight: bold;
}

.book-button {
  display: flex;
  gap: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.book-button .btn {
  width: 300px;
  height: 60px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
}

.book-button .btn:hover {
  background-color: #d89192;
}

.page {
  text-align: left;
  margin-bottom: 0;
  font-size: 12pt;
}

.year {
  text-align: left;
  font-size: 12pt;
  margin-bottom: 0;
}
