/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/

:root {
  --accent-color: #717171;
  --white-color: #ffffff;
  --black-color: #272727;
  --gray-color: #f3f3f3;
  --gray-color-200: #e3e3e3;
  --gray-color-300: #e0e0e0;
  --gray-color-500: #d0d0d0;
  --gray-color-800: #3a3a3a;
  --light-gray-color: #d2d2d2;
  --primary-color: #c76e6f;
  --bs-body-color: #272727;
  --bs-secondary-color: #ffe8f0;
  --bs-secondary-rgb: 255, 232, 240;
  --bs-primary-rgb: rgb(248, 109, 114);
  --bs-border-color: #e3e3e3;
  --bs-dropdown-link-active-bg: #f5f5f5;
  --light-color: #f1efe3;
  --light-blue-color: #edf1f3;
  --navbar-color-color: #131814;
  --swiper-theme-color: #4a4a4a;
  --swiper-pagination-color: #4a4a4a;
  --bs-box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.08);

  --bs-btn-font-size: 1rem;
  --star-color: #ff9933;
}

/* Fonts */
:root {
  --body-font: "Nunito", sans-serif;
  --heading-font: "Nunito", sans-serif;
}

@media (min-width: 1850px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1540px;
  }
}

button,
.nav-link {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.09em;
}

.book-detail-container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  background-color: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-info {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.book-thumbnail {
  width: 180px;
  height: auto;
  border-radius: 8px;
}

.book-details {
  max-width: 600px;
}

.book-details p {
  font-size: 1.2em;
  text-align: left;
  margin: 8px 0;
  color: var(--black-color);
}

.book-description {
  margin-top: 40px;
}

.book-description h3 {
  font-size: 1.8em;
  text-align: left;
  margin-bottom: 15px;
  color: var(--black-color);
}

.book-description p {
  font-size: 1.1em;
  line-height: 1.7;
  color: var(--black-color);
  text-align: justify;
}
